<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCws5kYcPIzcD6UnZBV2lKEwwUZiwdzCEQ</string>
	<key>GCM_SENDER_ID</key>
	<string>748205136771</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.day14</string>
	<key>PROJECT_ID</key>
	<string>flutter-project-8af7c</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-project-8af7c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:748205136771:ios:216c20f2b8a8dd797374b6</string>
</dict>
</plist>